npm-debug.log filter=lfs diff=lfs merge=lfs -text
apache-maven-3.3.9-bin.tar.gz filter=lfs diff=lfs merge=lfs -text
build.xml filter=lfs diff=lfs merge=lfs -text
manifest.mf filter=lfs diff=lfs merge=lfs -text
project.xml filter=lfs diff=lfs merge=lfs -text
